@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  font-size: 75%; /* px*/
  box-sizing: border-box; /*tells browser to account for border and padding*/
}

body {
  font: Helvetica;
  height: 100vh; /*sorta arbitrary*/
  margin: 0;
}
#root {
  height: 100%;
}
button{
  font-size: 1.6rem;
}
.full-width{
  width: 100%;
}
a{
  text-decoration: none;
}
a:hover{ /*default color when hover over any link*/
  color: #87f9ff;
}
.grid-container { /* specify header, main, footer grids & setup */
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr; 
  grid-template-rows: 5rem 1fr 5rem; /*header, main, footer heights*/
  height:100%;
}

.header { 
  grid-area: header;
  background-color: #003366; /*banner color: dark midnight blue*/
  color: #FFFFFF; /*text color*/
  display: flex; /*makes boxy*/
  justify-content: space-between;
  align-items: center; /*center items vertically on banner*/
  padding: 0.5rem;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #2C3036;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none; /*remove bullet point*/
}
.logo a{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none; 
}

.header-links a{
  color: white;
  text-decoration: none; /*remove bullet point*/
  font-size: 1.5rem;
}

.header-links a:hover{
  color: red; /*color on hover*/
}
/*Home Screen*/
.products{ /*different products*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{ /*describes attributes of each product (price, rating, etc.)*/
  flex: 0 1 34rem; /*0 = how much it grows; 1 = how much it shrinks; 34 = length of product li*/
  margin: 1rem;
  height: 40rem;
  border-bottom: 0.1rem #dce6f5 solid;
  list-style-type: none;
  padding: 0;
}
.product-image{ /*might not need this*/
  max-width: 20rem;
  max-height: 20rem;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-category{
  font-size: 1.2rem;
  color: #005f82;
}
.product-price{
  font-size: 2.5rem;
  font-weight: bold;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-rating{
  margin-bottom: 1rem;
}
/*Sidebar*/
.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem); /* Starts out 30rem to the left */
  width: 30rem;
  background-color: oldlace;
  height: 100%;
  transition: all .5s;
}
.sidebar.open {
  transform: translateX(0); /* Shift sidebar to right 30rem on open */
}
.sidebar-close {
  border-radius: 50%;
  border: .1rem black solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}

/*Product Details*/
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 40rem; /*2 = how much it grows; 1 = how much it shrinks; 60 = length of product li*/
}
.details-image img{
  max-width: 40%;
  width: 100%;/*Specifies the minimum number of line boxes of a block container that must be left in a fragment after a break.*/
}
.details-info {
  flex: 1 1 30rem; 
}
.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
  
}
.details-info li, .details-action li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}
.details-action {
  flex: 1 1 30rem; 
  border: .1rem black solid;
  border-radius: .5rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: .1rem black;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover{
  border: .1rem black solid;
}
.button.primary{
  background-color: #f0c040;
}
.back-to-res {
  padding: 1rem;
}


/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action { /*grey action box*/
  flex: 1 1 20rem; /*puts grey box at right side of page*/
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  /* height: 30vh; */
}
.cart-list-container { /*shopping cart section*/
  padding: 0;
  list-style-type: none;
  padding: 1rem; 
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Seller products screen */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.sellers-list{
  color: darkblue;
  size: 100%;
  border: 0.1rem #c0c0c0 solid;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}
.review-action {
  margin: 1rem; 
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}


