<!DOCTYPE html>

<html>
    <head> 
        <link href="style.css" rel="stylesheet"/>
        <title>Mini Amazon</title>
    </head>

    <body>
        
        <div class="grid-container"> 
            <!--Banner-->
            <header class="header">
                <div class="brand"><a href="index.html"> Mini Amazon</a></div>
                <div class="header-links"> <!--banner links-->
                    <a href="cart.html">Cart</a>
                    <a href="signin.html"> Sign In</a>
                </div>
            </header>
            
            <main class="main">
                <ul>
                    <li>
                        Product 1
                    </li>
                    <li>
                        Product 1
                    </li>
                    <li>
                        Product 1
                    </li>
                    <li>
                        Product 1
                    </li>
                </ul>
            </main>
        </div>
    </body>

    <footer class="footer">
        Created by Anna Xu, Mina Kim, Vanessa Chen, James Leong, Michael Jang.
    </footer>
</html>