<!DOCTYPE html>

<html>
    <head> 
        <link href="style.css" rel="stylesheet"/>
        <title>Mini Amazon</title>
    </head>

    <body>
        
        <div class="grid-container"> 
            <!--Banner-->
            <header class="header">
                <div class="brand"><a href="index.html"> Mini Amazon</a></div>
                <div class="header-links"> <!--banner links-->
                    <a href="cart.html">Cart</a>
                    <a href="signin.html"> Sign In</a>
                </div>
            </header>
            
            <main class="main">
                <div class = "content">
                    <ul class = "products">
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </body>

    <footer class="footer">
        Created by Anna Xu, Mina Kim, Vanessa Chen, James Leong, Michael Jang.
    </footer>
</html>