<!DOCTYPE html>

<html>
    <head> 
        <link href="style.css" rel="stylesheet"/>
        <title>Mini Amazon</title>
    </head>

    <body>
        
        <div class="grid-container"> 
            <!--Banner-->
            <header class="header">
                <div class="brand">
                    <button onclick="openSidebar()">&#9776;</button> <!--Call openSidebar on button click-->
                    <a href="index.html"> Mini Amazon</a></div>
                <div class="header-links"> <!--banner links-->
                    <a href="cart.html">Cart</a>
                    <a href="signin.html"> Sign In</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close" onclick="closeSidebar()">x</button> 
                <ul>
                    <li>
                        <a href="index.html">Toys</a>
                    </li>
                    <li>
                        <a href="index.html">Tea</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class = "content">
                    <ul class = "products">
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                        <li>
                            <div class = "product">
                                <img class="product-image" src="images/cutebunny.png" alt="cute stuffed bunny">
                                <div class="product-name">
                                    <a href="product.html">Cute Stuffed Bunny</a>
                                </div>
                                <div class="product-brand">buildabear</div>
                                <div class="product-price">$14</div>
                                <div class="product-rating">4.5 stars</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
        <script>
            /* functions to open and close the sidebar when clicked */
            function openSidebar(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeSidebar(){
                document.querySelector(".sidebar").classList.remove("open");
            }
        </script>
    </body>

    <footer class="footer">
        Created by Anna Xu, Mina Kim, Vanessa Chen, James Leong, Michael Jang.
    </footer>
</html>